.post-details-container {
    padding: 20px;

    h2 {
        font-size: 24px;
        color: #333;
    }

    p {
        font-size: 18px;
        margin-bottom: 10px;

        strong {
            color: #007bff;
        }
    }
}