.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.glyphicon {
  margin-right: 10px;
  cursor: pointer;
}

.close {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: auto;
}

.close:hover {
  color: darkred;
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #61DAFB;
}

.icon {
  margin-right: 10px; 
}